*{
    font-family:  'Times New Roman', Times, serif;
}
body{
	background: linear-gradient(
	90deg,
	#5EE6EB, 
	#151D3B);
    
}

table{
	margin-top: 50px;
	text-align: center;
	border: 10px;
	border-color:whitesmoke;
	border-collapse: collapse;
}

#show td{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: whitesmoke;
	background-color: lightblue;
}

#btna td input{
	margin-top: 5%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	width: 80px;
	height: 35px;
	cursor: pointer;
	outline: none;
	background-color: #151D3B;
	color: #fff;
	text-transform: capitalize;
}

#btna td input:hover{
	background-color: #151d3c;
  }

#show th{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color:whitesmoke;
	background-color: #A8ECE7;
}

input{
	width: 190px;
    height: 23px;
    border-radius: 10px;
    padding: 2px;
	padding-left: 10px;
    margin: 1px;
}

#ipt, h1{
	color: white;
}